@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@mixin border-black($width, $color: black) {
    border: $width solid $color;
}

$main-block-border: 10px solid #fbba02;
$main-block-pseudo-background: #fbba02;
$main-block-color: #fda24f;
$main-block__elements-background:  #fd6a02;
$buttons-hover-color: #ce0d0d;
$buttons-background: #ce540d;
$main-block__winner-box-background: #6a6b6b;
$dark-orange: #e3601c;


%buttons-basics {
    padding: 10px 10px 10px 15px;
    margin: 10px;

    background:  #fda24f;
    border: none;

    color:  $dark-orange;
    font-size: 18px;
    text-shadow: 2px 2px 0 #000;
}

%main-block__wrapper-pseudoelements {
    width: 13px;
    height: 13px;   
    background:  $main-block-pseudo-background;
}

%pseudoelements-basics {
    content: '';
    position: absolute;
}

%buttons-hover {
    color: $buttons-hover-color;
    cursor: pointer;
}


* {font-family: 'Press Start 2P';}

.main-block__wrapper {
    position: absolute;
    width: 400px;

    left: 50%;
    top: 30px;

    transform: translateX(-50%);

    border-top: $main-block-border;
    border-bottom: $main-block-border;

    background: #000;
    color: $main-block-color;
    &:before {
        @extend %pseudoelements-basics;
        @extend %main-block__wrapper-pseudoelements;
        left: -10px;
        top: -2px;
    }
    &:after {
        @extend %pseudoelements-basics;
        @extend %main-block__wrapper-pseudoelements;
        bottom: -2px;
        left: -10px;
    }
}

.main-block {
    position: relative;
    left: -20px;

    width: 420px;
    
    border-left: $main-block-border; 
    border-right: $main-block-border; 

    text-align: center;
    background: inherit;

    &:before {
        @extend %pseudoelements-basics;
        @extend %main-block__wrapper-pseudoelements;
        top: -12px;
        right: -1px;
    }
    &:after {
        @extend %pseudoelements-basics;
        @extend %main-block__wrapper-pseudoelements;
        position: fixed;
        bottom: -1px;
        right: -12px;
    }
}

.main-block__header {
    font-size: 20px;
    text-align: center;
}

.main-block__element {
    display: inline-block;

    width: 100px;
    height: 100px;

    border: 1px solid #000;
    color: #000;

    text-align: center;
    line-height: 100px;

    box-sizing: border-box;

    &.basic {
        background: $main-block__elements-background;
    }
    &.zero {
        background: #fff;
    }
    &.movable {
        box-shadow: inset 0 0 10px 3px rgb(251, 255, 0);
    }

    &:hover {
        cursor: pointer;
    }
}



.main-block__footer {
    margin: 20px 0 10px;
    font-size: 20px;
    text-align: center;

    &-button {
        @extend %buttons-basics;
        &:hover {@extend %buttons-hover;}        
        &:before {
            @extend %pseudoelements-basics;
    
            width: 290px;
            height: 5px;
    
            left: 72px;
            bottom: 6px;
    
            background: $dark-orange;
        }
        &:after {
            @extend %pseudoelements-basics;
    
            width: 5px;
            height: 33px;
        
            right: 58px;
            bottom: 10px;
        
            background: $dark-orange;
        }
    }
}

p {
    margin: 10px;
    &:hover {
        cursor: pointer;    
        text-shadow: 1px 1px 0 rgb(233, 24, 17);
    }
}

.main-block ul {
    list-style-type: none;
    margin: 10px 0;
    li {margin-bottom: 5px;}
}


.main-block__winner-box {
    position: absolute;
    left: 100px;
    top: 200px;

    width: 220px;

    @include border-black(3px);
    background: $main-block__winner-box-background;

    text-align: center;
    .main-block__winner-box__name {
        &:enabled {outline: none;}

        width: 100px;
        
        text-align: center;
        font-size: 16px;
        @include border-black(1px);
        &.wrong {
            border: 1px solid red;
       }       
    }


    .main-block__winner-box__button {
        @extend %buttons-basics;
        &:hover {@extend %buttons-hover;}  
        &:enabled {outline: none;} 
     
        &:before {
         @extend %pseudoelements-basics;
     
         width: 79px;
         height: 5px;
     
         left: 75px;
         bottom: 6px;
     
         background: $dark-orange;
        }
     
        &:after {
         @extend %pseudoelements-basics;
     
         width: 5px;
         height: 33px;
     
         right: 66px;
         bottom: 10px;
     
         background: $dark-orange;
        }
    }
}

.main-block__winner-box__button:hover::before, 
.main-block__winner-box__button:hover::after, 
.main-block__footer-button:hover::before, 
.main-block__footer-button:hover::after  {
    background: $buttons-background;
}

